front/src/main/resources/COB-INF/resource/internal/DTD_LMF_REV_16.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- LMF DTD -->
<!-- #################### Core package -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="LexicalResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
        <xs:element ref="GlobalInformation"/>
        <xs:element maxOccurs="unbounded" ref="Lexicon"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SenseAxis"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="TransferAxis"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ContextAxis"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.LexicalResource"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.LexicalResource">
    <xs:attribute name="dtdVersion" default="16">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="16"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="GlobalInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lexicon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
        <xs:element maxOccurs="unbounded" ref="LexicalEntry"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SubcategorizationFrame"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SubcategorizationFrameSet"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SemanticPredicate"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Synset"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SynSemCorrespondence"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="MorphologicalPattern"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="MWEPattern"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ConstraintSet"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LexicalEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
        <xs:element ref="Lemma"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="WordForm"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Stem"/>
        <xs:element minOccurs="0" ref="ListOfComponents"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="RelatedForm"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="TransformCategory"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Sense"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SyntacticBehaviour"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.LexicalEntry"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.LexicalEntry">
    <xs:attribute name="id" type="xs:ID"/>
    <xs:attribute name="morphologicalPatterns" type="xs:IDREFS"/>
    <xs:attribute name="mwePattern" type="xs:IDREF"/>
  </xs:attributeGroup>
  <xs:element name="Sense">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Sense"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Equivalent"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Context"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SubjectField"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="PredicativeRepresentation"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SenseExample"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Definition"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SenseRelation"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="MonolingualExternalRef"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.Sense"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.Sense">
    <xs:attribute name="id" type="xs:ID"/>
    <xs:attribute name="synset" type="xs:IDREF"/>
  </xs:attributeGroup>
  <xs:element name="Definition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Statement"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="TextRepresentation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Statement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="TextRepresentation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TextRepresentation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- #################### Package for Morphology -->
  <xs:element name="Lemma">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="FormRepresentation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WordForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="FormRepresentation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Stem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="FormRepresentation"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="GrammaticalFeatures"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FormRepresentation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RelatedForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="FormRepresentation"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.RelatedForm"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.RelatedForm">
    <xs:attribute name="targets" type="xs:IDREFS"/>
  </xs:attributeGroup>
  <xs:element name="ListOfComponents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
        <xs:element maxOccurs="unbounded" ref="Component"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Component">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.Component"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.Component">
    <xs:attribute name="entry" use="required" type="xs:IDREF"/>
  </xs:attributeGroup>
  <!-- #################### Package for MRD -->
  <xs:element name="Equivalent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="TextRepresentation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Context">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="TextRepresentation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubjectField">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SubjectField"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- #################### Package for Syntax -->
  <xs:element name="SyntacticBehaviour">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.SyntacticBehaviour"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.SyntacticBehaviour">
    <xs:attribute name="id" type="xs:ID"/>
    <xs:attribute name="senses" type="xs:IDREFS"/>
    <xs:attribute name="subcategorizationFrames" type="xs:IDREFS"/>
    <xs:attribute name="subcategorizationFrameSets" type="xs:IDREFS"/>
  </xs:attributeGroup>
  <xs:element name="SubcategorizationFrame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
        <xs:element minOccurs="0" ref="LexemeProperty"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SyntacticArgument"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.SubcategorizationFrame"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.SubcategorizationFrame">
    <xs:attribute name="id" type="xs:ID"/>
    <xs:attribute name="inherit" type="xs:IDREFS"/>
  </xs:attributeGroup>
  <xs:element name="LexemeProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyntacticArgument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.SyntacticArgument"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.SyntacticArgument">
    <xs:attribute name="id" type="xs:ID"/>
    <xs:attribute name="target" type="xs:IDREF"/>
  </xs:attributeGroup>
  <xs:element name="SubcategorizationFrameSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SynArgMap"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.SubcategorizationFrameSet"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.SubcategorizationFrameSet">
    <xs:attribute name="id" type="xs:ID"/>
    <xs:attribute name="subcategorizationFrames" type="xs:IDREFS"/>
    <xs:attribute name="inherit" type="xs:IDREFS"/>
  </xs:attributeGroup>
  <xs:element name="SynArgMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.SynArgMap"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.SynArgMap">
    <xs:attribute name="arg1" use="required" type="xs:IDREF"/>
    <xs:attribute name="arg2" use="required" type="xs:IDREF"/>
  </xs:attributeGroup>
  <!-- #################### Package for Semantics -->
  <xs:element name="PredicativeRepresentation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.PredicativeRepresentation"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.PredicativeRepresentation">
    <xs:attribute name="predicate" use="required" type="xs:IDREF"/>
    <xs:attribute name="correspondences" use="required" type="xs:IDREFS"/>
  </xs:attributeGroup>
  <xs:element name="SemanticPredicate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Definition"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SemanticArgument"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="PredicateRelation"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.SemanticPredicate"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.SemanticPredicate">
    <xs:attribute name="id" use="required" type="xs:ID"/>
    <xs:attribute name="semanticTypes" type="xs:IDREFS"/>
  </xs:attributeGroup>
  <xs:element name="SemanticArgument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ArgumentRelation"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.SemanticArgument"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.SemanticArgument">
    <xs:attribute name="id" type="xs:ID"/>
    <xs:attribute name="semanticTypes" type="xs:IDREFS"/>
  </xs:attributeGroup>
  <xs:element name="ArgumentRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.ArgumentRelation"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.ArgumentRelation">
    <xs:attribute name="targets" type="xs:IDREFS"/>
  </xs:attributeGroup>
  <xs:element name="SynSemCorrespondence">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SynSemArgMap"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.SynSemCorrespondence"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.SynSemCorrespondence">
    <xs:attribute name="id" use="required" type="xs:ID"/>
  </xs:attributeGroup>
  <xs:element name="SynSemArgMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PredicateRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.PredicateRelation"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.PredicateRelation">
    <xs:attribute name="targets" type="xs:IDREFS"/>
  </xs:attributeGroup>
  <xs:element name="SenseExample">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.SenseExample"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.SenseExample">
    <xs:attribute name="id" type="xs:ID"/>
  </xs:attributeGroup>
  <xs:element name="Synset">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Definition"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SynsetRelation"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="MonolingualExternalRef"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.Synset"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.Synset">
    <xs:attribute name="id" type="xs:ID"/>
  </xs:attributeGroup>
  <xs:element name="SynsetRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.SynsetRelation"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.SynsetRelation">
    <xs:attribute name="targets" type="xs:IDREFS"/>
  </xs:attributeGroup>
  <xs:element name="MonolingualExternalRef">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SenseRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.SenseRelation"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.SenseRelation">
    <xs:attribute name="targets" use="required" type="xs:IDREFS"/>
  </xs:attributeGroup>
  <!-- #################### Package for Multilingual notations -->
  <xs:element name="SenseAxis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SenseAxisRelation"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="InterlingualExternalRef"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.SenseAxis"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.SenseAxis">
    <xs:attribute name="id" type="xs:ID"/>
    <xs:attribute name="senses" type="xs:IDREFS"/>
    <xs:attribute name="synsets" type="xs:IDREFS"/>
  </xs:attributeGroup>
  <xs:element name="InterlingualExternalRef">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SenseAxisRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.SenseAxisRelation"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.SenseAxisRelation">
    <xs:attribute name="targets" use="required" type="xs:IDREFS"/>
  </xs:attributeGroup>
  <xs:element name="TransferAxis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="TransferAxisRelation"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SourceTest"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="TargetTest"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.TransferAxis"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.TransferAxis">
    <xs:attribute name="id" type="xs:ID"/>
    <xs:attribute name="syntacticBehaviours" type="xs:IDREFS"/>
  </xs:attributeGroup>
  <xs:element name="TransferAxisRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.TransferAxisRelation"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.TransferAxisRelation">
    <xs:attribute name="targets" use="required" type="xs:IDREFS"/>
  </xs:attributeGroup>
  <xs:element name="SourceTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.SourceTest"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.SourceTest">
    <xs:attribute name="syntacticBehaviours" use="required" type="xs:IDREFS"/>
  </xs:attributeGroup>
  <xs:element name="TargetTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.TargetTest"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.TargetTest">
    <xs:attribute name="syntacticBehaviours" use="required" type="xs:IDREFS"/>
  </xs:attributeGroup>
  <xs:element name="ContextAxis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ContextAxisRelation"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.ContextAxis"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.ContextAxis">
    <xs:attribute name="id" type="xs:ID"/>
    <xs:attribute name="examples" type="xs:IDREFS"/>
  </xs:attributeGroup>
  <xs:element name="ContextAxisRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.ContextAxisRelation"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.ContextAxisRelation">
    <xs:attribute name="targets" use="required" type="xs:IDREFS"/>
  </xs:attributeGroup>
  <!-- #################### Package for morphological patterns -->
  <xs:element name="MorphologicalPattern">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="TransformSet"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="TransformCategory"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Affix"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="AffixSlot"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="AffixTemplate"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.MorphologicalPattern"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.MorphologicalPattern">
    <xs:attribute name="id" type="xs:ID"/>
  </xs:attributeGroup>
  <xs:element name="TransformSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Process"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="GrammaticalFeatures"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="TransformCategory"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrammaticalFeatures">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Process">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Condition"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Condition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="GrammaticalFeatures"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="TransformCategory"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Affix">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="AffixAllomorph"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="GrammaticalFeatures"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AffixAllomorph">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="FormRepresentation"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Condition"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AffixTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="TemplateSlot"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TemplateSlot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Affix"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.TemplateSlot"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.TemplateSlot">
    <xs:attribute name="affixslots" type="xs:IDREFS"/>
  </xs:attributeGroup>
  <xs:element name="AffixSlot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.AffixSlot"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.AffixSlot">
    <xs:attribute name="affixs" type="xs:IDREFS"/>
  </xs:attributeGroup>
  <xs:element name="TransformCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- #################### Package for MWE patterns -->
  <xs:element name="MWEPattern">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="MWENode"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.MWEPattern"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.MWEPattern">
    <xs:attribute name="id" use="required" type="xs:ID"/>
  </xs:attributeGroup>
  <xs:element name="MWENode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="MWEEdge"/>
        <xs:element ref="MWELex"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MWEEdge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="MWENode"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MWELex">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- #################### Package for Constraint expression -->
  <xs:element name="ConstraintSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Constraint"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Constraint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="LogicalOperation"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.Constraint"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.Constraint">
    <xs:attribute name="id" type="xs:ID"/>
  </xs:attributeGroup>
  <xs:element name="LogicalOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="AttributeValuation"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Constraint"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.LogicalOperation"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.LogicalOperation">
    <xs:attribute name="constraints" type="xs:IDREFS"/>
  </xs:attributeGroup>
  <xs:element name="AttributeValuation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="feat"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- #################### for data category adornment: feat stands for feature -->
  <xs:element name="feat">
    <xs:complexType>
      <xs:attributeGroup ref="attlist.feat"/>
    </xs:complexType>
  </xs:element>
  <!-- att=constant to be taken from the DataCategoryRegistry -->
  <!--  val=free string or constant to be taken from the DCR -->
  <xs:attributeGroup name="attlist.feat">
    <xs:attribute name="att" use="required"/>
    <xs:attribute name="val" use="required"/>
  </xs:attributeGroup>
</xs:schema>
